//import all Sass files/
@import "config/variables";

@import "global/mixins";
@import "global/normalise";
@import "global/type";

@import "components/button";
@import "components/content";
@import "components/grid";
@import "components/slider";
@import "components/form";
@import "components/mobile-menu";

@import "layouts/hero";
@import "layouts/header";
@import "layouts/about";
@import "layouts/work";
@import "layouts/testimonials";
@import "layouts/video";
@import "layouts/social";
@import "layouts/contact";
@import "layouts/footer";


html{
    font-size: 100%;
    @media(max-width: $breakpoint-md){
        font-size: 95%;
    }
    @media(max-width: $breakpoint-sm){
        font-size: 90%;
    }
}